body {
  margin: 0;
}

header {
  color: white;
  background-image: url("Images/food-bg-01.png");
  height: 70vh;
  background-size: cover;
  padding-top: 10px;
}
nav {
  display: flex;
  justify-content: space-around;
  /* margin-top: 10px; */
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.nav-links a {
  text-decoration: none;
  color: white;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  gap: 20px;
}
.header-content img {
  height: 80px;
}

.search-bar {
  border-radius: 20px;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  color: black;
  height: 50px;
}

.rule {
  border-left: 2px solid gray;
  margin: 5px 0 5px 0;
  /* height: 100%; */
}

.search-box {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.search-box input {
  width: 80%;
  height: 80%;
  border: none;
  outline: none;
}

#food-cards-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}

.food-cards {
  height: 200px;
  width: 20%;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.food-cards span {
  margin-left: 20px;
  color: rgb(95, 94, 94);
}
.food-cards img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 60%;
}
#collections-container {
  margin-top: 100px;
}
#collections-container h3 {
  font-size: 30px;
  margin: 0 0 20px 100px;
}
#collections-container p {
  /* margin-bottom: 20px; */
  margin: 0 100px 20px 100px;
  display: flex;
  justify-content: space-between;
}
p a {
  text-decoration: none;
  color: red;
  font-weight: bold;
}
p i {
  color: red;
}
.collections-cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.collection-cards {
  border: 1px solid;
  height: 500px;
  width: 20%;
  color: white;
  padding: 10px;
  background-image: url("Images/food-bg-03.png");
  background-size: cover;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.localities-cards-container {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 10px;
  column-gap: 10px;
}
.localities-cards {
  border: 1px solid gray;
  border-radius: 10px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}